---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import "../styles/style.css";

// Date & Time
---

<Layout title="Welcome to Astro.">
	<div class="terminal-container">
		<div class="terminal-header">
			<div class="nav-btn-container">
				<span class="red-dot"></span>
				<span class="yellow-dot"></span>
				<span class="green-dot"></span>
			</div>
			<div class="text-container">
				<p>user@www.dylan.dev:~</p>
			</div>
			<div class="dummy">
				<p>&#8997;&#8984;1</p>
			</div>
		</div>
		<div class="terminal-body">
			<div class="login-container">
				<p id="login-date"></p>
			</div>
			<div class="input-container">
				<div class="left-arrow">
					<div class="first">
						<Icon name="ci:home-alt-fill" />
						<Icon name="fa-solid:tilde" />
					</div>
					<div class="second">&#63743;</div>
				</div>
				<div class="input">
					<label id="input" for="input"
						>Press to access site:&nbsp;
					</label>
					<button onclick="onClick()" class="lock-btn">
						<Icon id="lock" class="lock" name="mdi:lock" />
						<!-- <Icon class="unlock" name="mdi:lock-open-variant" /> -->
					</button>
				</div>
				<div class="right-arrow">
					<div class="third">
						<p id="right-time"></p>
					</div>
					<div class="fourth">
						<Icon name="fluent:checkmark-16-filled" />
					</div>
				</div>
			</div>
			<div id="card" class="card-container-hidden">
				<div class="about-card">
					<div class="title-container">
						<h1>About Me</h1>
					</div>
					<div class="gtk">
						<div class="subtitle">
							<h2>Get to know me!</h2>
						</div>
						<div class="para">
							<p>
								Hello, my name is Dylan. I am currently a third
								year Computer Science student at The University
								of Windsor. My goal is to create and manage the
								awesome projects you see everyday across the
								web.
							</p>
						</div>
					</div>
					<div class="tech-stack">
						<div class="subtitle">
							<h2>My tech stack!</h2>
						</div>
						<div class="para">
							<p>
								I have worked with many technologies including
								React, HTML, CSS, JavaScript, Java, C and
								AstroJS. I am also familiar with backend
								technologies such as MongoDB, SQL and Express.
							</p>
						</div>
					</div>
				</div>
				<div class="links-container">
					<div class="github-card"></div>
					<div class="linkedin-card"></div>
					<div class="resume-card"></div>
				</div>
			</div>
		</div>
	</div>
</Layout>

<script defer is:inline>
	const date = new Date();
	const loginElement = document.getElementById("login-date");

	let dateString =
		date.getDate().toString().padStart(2, "0") +
		"-" +
		(date.getMonth() + 1).toString().padStart(2, "0") +
		"-" +
		date.getFullYear() +
		" " +
		date.getHours().toString().padStart(2, "0") +
		":" +
		date.getMinutes().toString().padStart(2, "0");

	loginElement.innerHTML = `Last login: ${dateString}`;

	const timeElement = document.getElementById("right-time");
	let timeString =
		date.getHours().toString().padStart(2, "0") +
		":" +
		date.getMinutes().toString().padStart(2, "0") +
		":" +
		date.getSeconds().toString().padStart(2, "0");
	if (date.getHours() > 12) {
		timeElement.innerHTML = `${timeString} pm`;
	} else {
		timeElement.innerHTML = `${timeString} am`;
	}

	const terminalContainer = document.getElementById("card");
	const lock = document.getElementById("lock").firstChild;
	function onClick() {
		terminalContainer.className = `card-container-visible ${document.documentElement.className}`;

		var x = lock.getAttribute("d");
		var y = lock.getAttribute("fill");
		var z = terminalContainer.className;
		console.log(x);

		if (
			x ===
			"M12 17a2 2 0 0 0 2-2 2 2 0 0 0-2-2 2 2 0 0 0-2 2 2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5 5 5 0 0 1 5 5v2h1m-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3z"
		) {
			x =
				"M18 1c-2.76 0-5 2.24-5 5v2H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12c1.11 0 2-.89 2-2V10a2 2 0 0 0-2-2h-1V6c0-1.66 1.34-3 3-3s3 1.34 3 3v2h2V6c0-2.76-2.24-5-5-5m-8 12a2 2 0 0 1 2 2c0 1.11-.89 2-2 2a2 2 0 1 1 0-4z";
			y = "#32ca43";
			z = `card-container-visible ${document.documentElement.className}`;
		} else {
			x =
				"M12 17a2 2 0 0 0 2-2 2 2 0 0 0-2-2 2 2 0 0 0-2 2 2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5 5 5 0 0 1 5 5v2h1m-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3z";
			y = "currentColor";
			z = "card-container-hidden";
		}

		lock.setAttribute("d", x);
		lock.setAttribute("fill", y);
		terminalContainer.className = z;
	}
</script>
